{% load static %}
<script type="text/javascript" src="{% static 'pet-filter.js' %}"></script>
<!--AGE FILTER-->
<div class= "card mb-4">
    <h6 class="card-header">Age</h6>
    <div class= "list-group list-group-flush">

        {% for age in ages %}

        <li class="list-group-item">
            <input class= "filter-checkbox" data-filter="age" value="{{age.age__id}}" type="checkbox"/>
            &nbsp;
            <button class="btn" style="background-color: {{color.color__color_code}}; margin-top: -5px;"></button>
        </li>

        {% endfor %}

    </div>
</div>
<!--SIZE FILTER-->
<div class= "card mb-4">
    <h6 class="card-header">Size</h6>
    <div class= "list-group list-group-flush">

        {% for size in sizes %}

        <li class="list-group-item">
            <input class= "filter-checkbox" data-filter="size" value="{{size.size__id}}" type="checkbox"/>
            &nbsp;
            <button class="btn" style="background-color: {{color.color__color_code}}; margin-top: -5px;"></button>
        </li>

        {% endfor %}
        
    </div>
</div>
<!--PERSONALITY FILTER-->
<div class= "card mb-4">
    <h6 class="card-header">Personality</h6>
    <div class= "list-group list-group-flush">

        {% for personality in personalitys %}

        <li class="list-group-item">
            <input class= "filter-checkbox" data-filter="personality" value="{{personality.personality__id}}" type="checkbox"/>
            &nbsp;
            <button class="btn" style="background-color: {{color.color__color_code}}; margin-top: -5px;"></button>
        </li>

        {% endfor %}
        
    </div>
</div>
<!--BREED FILTER-->
<div class= "card mb-4">
    <h6 class="card-header">Breed</h6>
    <div class= "list-group list-group-flush">

        {% for breed in breeds %}

        <li class="list-group-item">
            <input class= "filter-checkbox" data-filter="breed" value="{{breed.breed__id}}" type="checkbox"/>
            &nbsp;
            <button class="btn" style="background-color: {{color.color__color_code}}; margin-top: -5px;"></button>
        </li>

        {% endfor %}
        
    </div>
</div>
<!--GOOD WITH FILTER-->
<div class= "card mb-4">
    <h6 class="card-header">Good With</h6>
    <div class= "list-group list-group-flush">

        {% for goodWith in goodWiths %}

        <li class="list-group-item">
            <input class= "filter-checkbox" data-filter="goodWith" value="{{goodWith.goodWith__id}}" type="checkbox"/>
            &nbsp;
            <button class="btn" style="background-color: {{color.color__color_code}}; margin-top: -5px;"></button>
        </li>

        {% endfor %}
        
    </div>
</div>